# Ignorer les fichiers spécifiques
la_maison/spiders/spider_produitsTESTTT.py
la_maison/produits.*
la_maison/spiders/categories.*

# Ignorer tous les dossiers __pycache__, quelle que soit leur profondeur
**/__pycache__/

